<div class='container mt-4'>
  <div class='row'>
    <div class="col-12">
      <div class="d-flex">
        <h3 class="ml-5">商品一覧</h3>
        <%= link_to "＋", new_admin_item_path, class: 'h1 ml-auto' %>
      </div>
      <table class="table border-bottom">
        <thead>
          <tr class="table-secondary">
            <th class="col-1">商品ID</th>
            <th class="col-4">商品名</th>
            <th class="col-1">税抜価格</th>
            <th class="col-4">ジャンル</th>
            <th class="col-2">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @items.each do |item| %>
              <td><%= item.id %></td>
              <td><%= link_to item.name, admin_item_path(item) %></td>
              <td><%= item.price.to_s(:delimited) %></td>
              <td><%= item.genre.name %></td>
              <td>
                <% if item.is_sell == true %>
                  <p class="text-success font-weight-bold">販売中</p>
                <% else %>
                  <p class="text-secondary font-weight-bold">販売停止中</p>
                <% end %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
