<h3>商品一覧</h3>
<%= link_to "＋", new_admin_item_path %>

<table class="table">
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @items.each do |item| %>
        <td><%= item.id %></td>
        <td><%= link_to item.name, admin_item_path(item) %></td>
        <td><%= item.price.to_s(:delimited) %></td>
        <td><%= item.genre.name %></td>
        <td>
          <% if item.is_sell == true %>
            <p class="text-success"><strong>販売中</strong></p>
          <% else %>
            <p class="text-secondary"><strong>販売停止中</strong></p>
          <% end %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>

