<div class="container pt-5 pb-5">
  <p class="<%= flash[:color] %>"><%= notice %></p>
  <div class="row">
    <div class="col-2">
      <%= render 'public/items/genre_list', genres: @genres %>
    </div>
    <div class="col-9 offset-1">
      <div class="card">
        <%= image_tag 'nagano-cake-top1.jpg',class: "card-img" %>
        <div class="card-img-overlay ml-4">
          <p class="pt-4">
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売ECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>
      <h3 class="mt-2">新着商品</h3>
      <div class="w-100 d-flex justify-content-center">
        <%= render 'public/items/index', items: @items %>
      </div>
      <div class="row justify-content-end">
        <%= link_to '全ての商品を見る＞', items_path %>
      </div>
    </div>
  </div>
</div>