<div class="container py-5">
  <p class="<%= flash[:color] %>"><%= flash[:notice] %></p>
  <div class="row mt-2 mb-3 offset-1 text-center">
    <h3 class="px-4 title-background"><%= "#{@customer.last_name}#{@customer.first_name}さんの会員詳細" %></h3>
  </div>
  <div class="row">
    <div class="col-10 mx-auto">
      <table class="table table-list">
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @customer.last_name %> <%= @customer.first_name %></td>
        </tr>
        <tr>
          <td>カナ</td>
          <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td>
            <% if @customer.is_active == true %>
              <p class="text-success">有効</p>
            <% else %>
              <p class="text-secondary">退会</p>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-3 offset-2">
      <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success" %>
    </div>
    <div class="col-3">
      <%= link_to "注文履歴一覧を見る", admin_orders_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>