<div class='container'>
  <div class='row'>
    <div class="col-8">
      <h3 class="m-5">配送先編集</h3>
      <%= form_with model: @address, url: address_path, method: :patch do |f| %>
        <div class="form-group row">
          <%= f.label :postal_code, "郵便番号(ハイフンなし)", class: 'col-sm-4' %>
          <%= f.text_field :postal_code, placeholder: "0000000", class: 'col-sm-4' %>
        </div>
        <div class="form-group row">
          <%= f.label :address, "住所", class: 'col-sm-4' %>
          <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: 'col-sm-8' %>
        </div>
        <div class="form-group row">
          <%= f.label :name, "宛名", class: 'col-sm-4' %>
          <%= f.text_field :name, placeholder: "令和道子", class: 'col-sm-4' %>
          <%= f.submit "変更内容を保存", class: 'btn btn-success ml-auto font-weight-bold w-25' %>
        </div>
      <% end %>
    </div>
  </div>
</div>