<h3>注文確認<h3>
  <table class="table">
    <thead>
      <tr>
        <td>商品名</td>
        <td>単価（税込）</td>
        <td>数量</td>
        <td>小計</td>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |cart_items| %>
        <tr>
          <td>
            <%= image_tag cart_item.item.image, size: "60×50" %>
            <%= cart_item.item.name %>
          </td>
          <td><%= cart_item.item.price %></td>
          <td><%= cart_item.amount %></td>
          <td><%= cart_item.item.price*cart_item.amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table class="table">
    <tr>
      <td>送料</td>
      <td><%= @delivery_charge %></td>
    </tr>
    <tr>
      <td>商品合計</td>
      <td><%= @total_price %></td>
    </tr>
  </table>

  <h4>支払い方法</h4>

  <%= if @selected_payment_method == "credit_card" %>
    クレジットカード
  <% else %>
    銀行振込
  <% end %>

  <h4>お届け先</h4>
  <%= @selected_address %>
  
  <%= form_with url: orders_path, method: :post do %>

    <%= hidden_field_tag 'order[payment_method]', @selected_payment_method %>
    <%= hidden_field_tag 'order[address_type]', @address_type %>

    <% if @address_type == "registered_address" %>
      <%= hidden_field_tag 'order[registered_address_id]', params[:order][:registered_address_id] %>
    <% elsif @address_type == "new_address" %>
      <%= hidden_field_tag 'order[new_post_code]', params[:order][:new_postal_code] %>
      <%= hidden_field_tag 'order[new_address]', params[:order][:new_address] %>
      <%= hidden_field_tag 'order[new_name]', params[:order][:new_name] %>
    <% end %>
      <%= submit_tag "注文を確定する", class: "btn btn-success" %>
  <% end %>
  </div>

  <%= form_with url: orders_path, method: :post do %>
