<div class="container p-3">
  <div class="row">
    <div class="col-md-12">
      <h3>注文履歴詳細</h3>

      <h4>注文情報</h4>
      <table class="table">
        <tr>
          <td>注文日</td>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td>配送先</td>
          <td>〒<%= @order.postal_code + "　" + @order.address + "　" + @order.name %></td>
        </tr>
        <tr>
          <td>支払い方法</td>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <td>ステータス</td>
          <td><%= @order.status_i18n %></td>
        </tr>
      </table>

      <h4>請求情報</h4>
      <table class="table">
        <tr>
          <td>商品合計</td>
          <td><%= @order.total_price - @order.delivery_charge %></td>
        </tr>
        <tr>
          <td>配達料</td>
          <td><%= @order.delivery_charge %></td>
        </tr>
        <tr>
          <td>ご請求金額</td>
          <td><%= @order.total_price %></td>
        </tr>
      </table>

      <h4>注文内容</h4>
      <table class="table">
        <tr>
          <td>商品</td>
          <td>単価(税込)</td>
          <td>個数</td>
          <td>小計</td>
        </tr>
        <% @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.item.with_tax_price %></td>
          <td><%= order_detail.amount %></td>
          <td><%= order_detail.amount * order_detail.item.with_tax_price %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>






















