
<div class='container px-auto my-3 px-sm-0'>
  <div class='row d-flex justify-content-between'>
    <div class='col-md-2'>
      <%= render 'public/items/genre_list', genres: @genres %>

    </div>
    <div class='col-md-9 col-xs-offset-1'>
      <div class="form-inline">
        <% if @genre_search == "True" %>
          <h2><%= @genre.name %>一覧</h2>(全<%= @genre_items_count %>件)
        <% elsif @search == "False" || @word.blank? %>
          <h2>商品一覧</h2>(全<%= Item.all.count %>件)
        <% else %>
          <h2>商品一覧</h2>　<strong>「<%= @word %>」</strong>の検索結果：全<%= @shearch_count %>件
        <% end %>
      </div>
      <div class="row">
        <%= render 'public/items/index', items: @items %>
      </div>
      <div class="col-md-8 offset-md-4 py-5">
        <%= paginate @all_items, theme: 'bootstrap-5' %>
      </div>
    </div>
  </div>
</div>



