<h1>Public::Items#show</h1>
<p>Find me in app/views/public/items/show.html.erb</p>
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'genre_list', genres: @genres %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <%= image_tag @item.get_image(200,150)%>
      <%= link_to @item.name %>
      <%= @item.explanation %>
      <%= @item.with_tax_price %>
      
      <%= form_with(model: @cart_item,url: cart_items_path, method: :post,local: true)do |f| %>
        <%= f.label :amount, "個数選択" %>
          <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10] %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.submit "カートに入れる" ,class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>