<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'genre_list', genres: @genres %>
    </div>
    <div class='col-md-3 offset-md-1 mx-auto'>
      <%= image_tag @item.get_image(300,250)%>
    </div>
    <div class='col-md-5  text-center'>
      <h2><%= link_to @item.name %></h2>
      <p><%= @item.explanation %></p>
      <div class='form-group'>
        <h3>¥<%= @item.with_tax_price.to_s(:delimited) %><span style="font-size:15px;">(税込)</span></h3>
      </div>


      <%= form_with(model: @cart_item,url: cart_items_path, method: :post,local: true)do |f| %>
        <%= f.label :amount, "個数選択" %>
          <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10] %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.submit "カートに入れる" ,class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
