<div class="container-fulid">
  <div class="row mx-auto">
    <div class="col-3">
      <div class="logo pt-2">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png' %>
        <% end %>
      </div>
    </div>
    <div class="col-3 mt-4 text-right text-light">
      <% if customer_signed_in?%>
        <p><%= "ようこそ、#{current_customer.family_name}#{current_customer.first_name}さん！" %></p>
      <% end %>
    </div>
    <div class="col-6">
      <div class="row justify-content-end my-2">
        <% if admin_signed_in? %>
          <div class="mr-3 menu"><%= link_to '商品一覧', admin_items_path, class: "btn btn-outline-light" %></div>
          <div class="mr-3 menu"><%= link_to '会員一覧', admin_customers_path, class: "btn btn-outline-light" %></div>
          <div class="mr-3 menu"><%= link_to '注文履歴一覧', admin_root_path, class: "btn btn-outline-light" %></div>
          <div class="mr-3  menu"><%= link_to 'ジャンル一覧', admin_genres_path, class: "btn btn-outline-light" %></div>
          <div class="mr-3 menu"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "btn btn-outline-light" %></div>
        <% elsif customer_signed_in? %>
          <div class="mr-3 menu"><%= link_to 'マイページ', my_page_customers_path, class: "btn btn-outline-light" %></div>
          <div class="mr-3 menu"><%= link_to '商品一覧', items_path, class: "btn btn-outline-light" %></div>
          <div class="mr-3 menu"><%= link_to 'カート', cart_items_path, class: "btn btn-outline-light" %></div>
          <div class="mr-3 menu"><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "btn btn-outline-light" %></div>
        <% else %>
          <div class="mr-3 menu"><%= link_to 'About', about_path, class: "btn btn-outline-light" %></div>
          <div class="mr-3 menu"><%= link_to '商品一覧', items_path, class: "btn btn-outline-light" %></div>
          <div class="mr-3 menu"><%= link_to '新規登録', new_customer_registration_path, class: "btn btn-outline-light" %></div>
          <div class="mr-3 menu"><%= link_to 'ログイン', customer_session_path, class: "btn btn-outline-light" %></div>
        <% end %>
      </div>
      <div class="row justify-content-end mb-2 mr-1">
        <% if admin_signed_in? %>
          <%= render 'admin/searches/search' %>
        <% else %>
          <%= render 'public/searches/search' %>
        <% end %>
      </div>
    </div>
  </div>
</div>